import { ZodObject, ZodTypeAny } from 'zod';
import { useForm, zodResolver } from '@mantine/form';
import { notifications } from '@mantine/notifications';
import { Stack, StackProps } from '@mantine/core';
import React, { useState } from 'react';
import FormHeader from './FormHeader';

type ZodSchema = ZodObject<Record<string, ZodTypeAny>>;

export type FormProps<T extends Record<string, unknown>> = {
  children: React.ReactNode;
  action: (values: T) => Promise<T>;
  schema?: ZodSchema;
  defaultValues?: T;
  title?: string;
  onSuccess?: (values: T) => void;
  onError?: (error: Error) => void;
} & StackProps;

export function Form<T extends Record<string, unknown>>({
  schema,
  defaultValues,
  action,
  title,
  children,
  onSuccess,
  onError,
  ...props
}: FormProps<T>) {
  const [pending, setPending] = useState(false);
  const form = useForm<T>({
    validate: schema && zodResolver(schema),
    initialValues: defaultValues,
  });

  async function handleSubmit(values: T) {
    try {
      setPending(true);
      const result = await action(values);
      onSuccess?.(result);
    } catch (err) {
      console.error(err);
      notifications.show({
        title: 'Error',
        message:
          err instanceof Error ? err.message : 'An unexpected error occurred',
        color: 'red',
      });
      onError?.(err as Error);
    } finally {
      setPending(false);
    }
  }

  return (
    <form onSubmit={form.onSubmit(handleSubmit)}>
      <FormHeader title={title} isLoading={pending} />
      <Stack p='xl' {...props}>
        {React.Children.map(children, (child) => addFormProps(child, form))}
      </Stack>
    </form>
  );
}

function addFormProps<T extends Record<string, unknown>>(
  child: React.ReactNode,
  form: ReturnType<typeof useForm<T>>
): React.ReactNode {
  if (!React.isValidElement(child)) return child;

  const props = { ...child.props };

  if (props.name) {
    Object.assign(props, form.getInputProps(props.name));
  }

  if (props.children) {
    props.children = React.Children.map(props.children, (grandChild) =>
      addFormProps(grandChild, form)
    );
  }

  return React.cloneElement(child, props);
}